.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: var(--card-padding);
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-card-border);
  border-radius: var(--card-border-radius);
  transition:
    background-color 100ms ease,
    border 100ms ease;
}

.card.hover:hover {
  background-color: var(--color-card-bg-hover);
}

/* Card's Identity Icon */
.card-icon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 6px;
  border-radius: 0.25rem;
  color: var(--color-card-icon);
  background-color: var(--color-card-icon-bg);
  border: 1px solid var(--color-card-icon-border);
}

.card-icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 0.5;
}

.svg-accent {
  color: var(--color-card-icon-accent);
}

.svg-base {
  color: var(--color-card-icon);
}

/* Card's Resource Icons */
.resource-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 0.375rem;
  border-radius: 0.375rem;
  color: var(--color-card-icon);
  background-color: var(--color-card-icon-bg);
  border: 1px solid var(--color-card-icon-border);
  transition: background-color 50ms ease-out;
}

.resource-icon:hover {
  background-color: var(--color-card-icon-bg-hover);
}

/* Card's Action Icons */
.action-icon-primary,
.action-icon-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 0.375rem;
  border-radius: 0.375rem;
  transition: background-color 50ms ease-out;
}

.action-icon-primary {
  color: var(--color-action-icon-primary);
  background-color: var(--color-action-icon-primary-bg);
  border: 1px solid var(--color-action-icon-primary-border);
}

.action-icon-primary:hover {
  background-color: var(--color-action-icon-primary-bg-hover);
}

.action-icon-secondary {
  color: var(--color-action-icon-secondary);
  background-color: var(--color-action-icon-secondary-bg);
  border: 1px solid var(--color-action-icon-secondary-border);
}

.action-icon-secondary:hover {
  background-color: var(--color-action-icon-secondary-bg-hover);
}
