.select-container {
  position: relative;
  align-self: flex-start;
  display: inline-block;
}

.form-select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: auto;
  padding-left: 0.25rem;
  padding-right: 0.75rem;
  font-family: var(--font-body);
  font-size: var(--text-lg);
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border 100ms ease-in-out;
  z-index: 1;
}

.form-select:hover {
  border: 1px solid var(--color-primary-faded);
}

.select-down-arrow {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 0;
}
