.topnav {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem var(--main-padding-x);
  z-index: 99;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.nav-content h1 {
  font-size: var(--text-3xl);
}

.top-nav-welcome {
  align-self: flex-end;
  font-family: var(--font-display);
  font-size: var(--text-2xl);
}

.utility-nav {
  --utility-nav-height: 2.25rem;
  display: flex;
  gap: 1rem;
  height: var(--utility-nav-height);
}

/* Search Bar */
.search-bar-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  align-items: stretch;
}

.search-bar {
  display: flex;
  flex: 1;
  align-items: stretch;
  height: var(--utility-nav-height);
  border-radius: 0.375rem;
  border: 1px solid var(--color-input-border);
  overflow: hidden;
  z-index: 1;
}

.search-bar:focus-within {
  outline: none;
  box-shadow: var(--focus-shadow);
}

.search-input-div {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  border-radius: 0;
  border: none;
}

.search-bar input[type="text"]:focus-visible {
  box-shadow: none;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 100%;
  padding: 0;
  background-color: var(--color-btn-search-bg);
  color: var(--color-btn-search-icon);
  transition: color 100ms ease;
  border-left: 1px solid var(--color-input-border);
  border-radius: 0;
}

.search-btn:hover {
  color: var(--color-btn-search-icon-hover);
}

.search-results-dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  background-color: var(--color-input-dropdown-bg);
  color: var(--color-input-dropdown-text);
  border-radius: 0.375rem;
  box-shadow: var(--box-shadow-y);
  overflow: hidden;
}

.search-result-li,
.search-result-none {
  padding: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--color-input-dropdown-bg);
  color: var(--color-input-dropdown-text);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-input-border);
  overflow: hidden;
  transition:
    background-color 100ms ease-in-out,
    color 100ms ease-in-out;
}

.search-result-li:hover {
  background-color: var(--color-input-dropdown-bg-hover);
  cursor: pointer;
}

/* Avatar: Dropdown */
.topnav-avatar-wrapper {
  position: relative;
  height: 100%;
  width: calc(var(--utility-nav-height) + 0.5rem);
}

.topnav .dropdown-menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--utility-nav-height) + 1rem);
  width: 100%;
}

#topnav-dropdown-btn {
  padding: 0;
  border: 2px solid var(--color-text-muted);
  border-radius: 50%;
  transition: border-color 100ms ease;
}

.top-nav-avatar {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.topnav .dropdown-menu-container:hover #topnav-dropdown-btn {
  border-color: var(--color-primary);
}

.topnav .dropdown-menu {
  min-width: 10rem;
}

.topnav .dropdown-li a,
.topnav .logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--dropdown-icon-text-gap);
  width: 100%;
  padding: var(--dropdown-li-padding-top-bottom) 1.5rem;
  border-radius: 0.5rem;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  font-family: var(--font-display);
  text-transform: capitalize;
  transition:
    background-color 100ms ease,
    color 100ms ease,
    border-color 100ms ease;
}

.topnav .logout-btn {
  color: var(--color-red);
  margin: 0;
  border: 1px solid var(--color-dropdown-logout-border);
}

.topnav .logout-btn:hover {
  background-color: var(--color-dropdown-logout-bg-hover);
  color: var(--color-red);
  border-color: var(--color-dropdown-logout-border-hover);
}
