/* Banner */
.overview-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--padding-card) calc(var(--padding-card) / 2)
    calc(var(--padding-card) / 2) var(--padding-card);
  border-radius: 1.5rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overview-banner h1 {
  font-size: var(--text-5xl);
  font-weight: 600;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.overview-banner h2 {
  margin-bottom: 0.25rem;
  font-size: var(--text-base);
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.banner-description {
  margin: 1rem 0;
  width: clamp(35ch, 80%, 60ch);
  font-size: var(--text-lg);
  text-wrap: balance;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.hero-img-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--color-bg) -4%,
    rgba(0, 0, 0, 0) 90%
  );
  background-repeat: no-repeat;
  background-size: 150% 100%;
  background-position: 50% 0;
  pointer-events: none;
  transition: background-position 1s linear;
}

@media (max-width: 1024px) {
  .hero-gradient {
    background-position: 0 0;
  }
}

.hero-img-container::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, transparent 60%);
}

/* Countdown Timer */
.countdown-container {
  align-self: flex-end;
  display: inline-block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
  text-align: right;
}

.unit-label {
  font-family: var(--font-display);
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--color-white-200);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-bottom: 0.25rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.countdown-display > div {
  display: inline-block;
  font-family: var(--font-countdown);
  font-weight: 600;
  font-size: var(--text-3xl);
  color: var(--color-bg);
}

@media (max-width: 768px) {
  .countdown-display > :nth-last-child(-n + 2) {
    display: none;
  }

  .countdown-container {
    align-self: flex-start;
    text-align: left;
  }
}

.digit-container {
  display: inline-block;
  width: calc(1ch + 0.8ch);
  padding: 0.125ch 0.4ch;
  border-radius: 0.25rem;
  background-color: var(--color-white-200);
  text-align: center;
}

.countdown-display .colon {
  color: var(--color-white-200);
  font-size: var(--text-4xl);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.countdown-trip-dates {
  font-family: var(--font-display);
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--color-white-200);
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-bottom: 0.375rem;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* Pinned Notes */

.pinned-content {
  display: flex;
  gap: var(--padding-card);
}

.pin {
  font-size: var(--padding-card);
}

.note {
  font-size: var(--text-lg);
  text-wrap: balance;
}

/* Assignments */
.week-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.week-header {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.week-header-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.week-header h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.75em;
}

.due-date {
  display: inline-block;
  line-height: 0.75em;
  color: var(--color-grey-300);
}

.assignments-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.assignment-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--color-secondary);
}

.assignment-title {
  font-weight: 600;
}

.assignment-details {
  color: var(--color-grey-200);
  text-wrap: balance;
}

.resource-block {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.resource-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-grey-500);
  transition: background-color 100ms ease-in;
}

.resource-icon:hover {
  background-color: var(--color-grey-400);
}
