/* Background */
#profile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: clamp(22rem, 27.78vw, 25rem);
  background: linear-gradient(to bottom, transparent 8%, #b85535);
  z-index: -5;
}

/* User Bio */
.user-bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  column-gap: 3rem;
  margin-top: 5rem;
  /* border: 1px solid blue; */
}

.profile-pic {
  flex-shrink: 0;
  width: clamp(14rem, 20.83vw, 18.75rem);
  height: clamp(14rem, 20.83vw, 18.75rem);
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.profile-bio {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: calc(var(--tile-padding) * 1.25);
  border-radius: var(--tile-border-radius);
  border: 1px solid var(--color-surface-border);
  background-color: var(--color-surface-bg);
  margin: 1.5rem 0;
  box-shadow: var(--box-shadow);
}

.bio-info-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-right: 1.5rem;
  /* border: 1px solid cyan; */
}

.bio-info-labels,
.bio-info-values {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.375rem;
  font-size: var(--text-lg);
  text-wrap: nowrap;
}

.bio-info-labels {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-text-secondary);
}

/* Prayer Requests */
.user-prayers .tile-body {
  gap: 1rem;
}

.prayer-request-post {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-metadata {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.post-metadata > * {
  line-height: 1.1em;
}

.post-metadata :first-child {
  font-size: var(--text-lg);
  font-weight: 600;
}

.post-timestamp {
  color: var(--color-text-secondary);
}

.post-divider {
  margin: 1.5rem 0;
  border: 1px solid var(--color-card-divider);
}

.post-update {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-prayed-count {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prayed-count-text {
  color: var(--color-text-muted);
}

.prayed-submit-btn.btn {
  font-size: var(--text-base);
}

.closed-posts-toggle {
  width: max-content;
  margin: 1rem;
  font-family: var(--font-display);
  color: var(--color-text-highlight);
  opacity: 1;
  transition: opacity 100ms ease;
}

.closed-posts-toggle:hover {
  opacity: 0.8;
  cursor: pointer;
}
