/* Trip Schedule */
#trip-schedule {
  background-color: var(--color-surface-bg);
  overflow-x: auto;
  border: 1px solid var(--color-border-primary);
  border-top: none;
}

.trip-table {
  table-layout: fixed;
}

.trip-table th {
  color: var(--color-text);
  font-weight: 600;
  background-color: var(--color-table-header-bg);
}

.trip-table tbody tr:hover {
  background-color: transparent;
}

.trip-table-row {
  position: relative;
}

.trip-table .first-col {
  position: sticky;
  left: 0;
  width: 6.25rem;
  padding: 0.25rem 1rem;
  outline: 1px solid var(--color-border-primary);
  background-color: var(--color-table-bg);
  z-index: 2;
}

.trip-table th,
.trip-table td {
  border-right: 1px solid var(--color-border-primary);
  border-bottom: 1px solid var(--color-border-primary);
}

.trip-table th:not(.first-col),
.trip-table td:not(.first-col) {
  width: clamp(9rem, 14vw, 11rem);
}

.trip-table td:not(.first-col) {
  padding: 0.25rem;
}

.event-block {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  white-space: wrap;
  height: 100%;
}

.event-title {
  font-weight: 600;
}

.event-time {
  font-weight: 300;
}
