/* Table */

.td-avatar {
  width: 4rem;
  min-width: 4rem;
}

.th-userName,
.th-email,
.th-senderName,
.th-senderEmail {
  text-align: left;
}

.td-avatar,
.td-phoneNumber,
.td-genderIcon,
.td-birthDate,
.td-shirtSize,
.td-devotional,
.td-fundraisingProgress,
.td-siteAffiliation,
.td-membershipStatus {
  text-align: center;
}

.td-fundraisingProgress > div {
  margin: auto;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  display: block;
}

/* Table Data */
.roles-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.role-label {
  display: inline-block;
  background-color: pink;
  padding: 0 0.5rem;
  border-radius: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--color-black-300);
  white-space: nowrap;
}

#team .progress-bar {
  max-width: 7rem;
}
