/* Table */

.td-avatar {
  width: 4rem;
  min-width: 4rem;
}

.th-userName,
.th-roles,
.th-email,
.th-senderName,
.th-senderEmail {
  text-align: left;
}

.td-avatar,
.td-phoneNumber,
.td-genderIcon,
.td-birthDate,
.td-shirtSize,
.td-devotional,
.td-fundraisingProgress,
.td-siteAffiliation,
.td-membershipStatus {
  text-align: center;
}

.td-userName {
  min-width: 100px;
  max-width: 150px;
}

.td-roles {
  min-width: 200px;
  max-width: 264px;
}

.td-shirtSize {
  min-width: 60px;
  max-width: 100px;
}

.td-fundraisingProgress > div {
  margin: auto;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.table-user {
  color: var(--color-text);
  transition: color 100ms ease;
}

/* Table Data */
.roles-container {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  flex-wrap: wrap;
}

.role-label {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 9999px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  white-space: nowrap;
  cursor: pointer;
}

#team .progress-bar {
  max-width: 7rem;
}
