.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: var(--card-padding);
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-card-border);
  border-radius: var(--card-border-radius);
  transition:
    background-color 100ms ease,
    border 100ms ease;
}

.card:hover {
  background-color: var(--color-card-bg-hover);
}
