@import "./calendar.css";
@import "./sidebar.css";
@import "./tables.css";
@import "./tabnav.css";
@import "./tile.css";
@import "./topnav.css";
@import "./pages/login.css";
@import "./pages/overview.css";
@import "./pages/schedule.css";
@import "./pages/team.css";

/* Fonts */
@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "source sans 3";
  src: url("/fonts/SourceSans3-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: rgba(241, 229, 227, 0.2) rgba(0, 0, 0, 0);
}

:root {
  /* Font */
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-display: montserrat, var(--font-sans);
  --font-body: "source sans 3", var(--font-sans);
  --font-countdown: "Chakra Petch", var(--font-sans);

  --font-size-component-h1: clamp(1.625rem, 1rem + 1vw, 2rem);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: clamp(1.2rem, 1.5vw, 1.25rem);
  --text-2xl: clamp(1.35rem, 2vw, 1.5rem);
  --text-3xl: clamp(1.6rem, 2.8vw, 1.875rem);
  --text-4xl: clamp(2rem, 3.5vw, 2.25rem);
  --text-5xl: clamp(2.5rem, 5vw, 3rem);
  --text-6xl: clamp(3rem, 6vw, 4rem);

  /* Breakpoints */
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;

  /* Color Palette */
  /* Greyscale Colors */
  --color-white: #ffffff;

  --color-light-grey-100: #f5f4f2;
  --color-light-grey-200: #f0eee8;
  --color-light-grey-300: #e2e0dc;
  --color-light-grey-400: #c0beb9;

  --color-medium-grey-100: #9e9c97;
  --color-medium-grey-200: #89867e;
  --color-medium-grey-300: #706e66;
  --color-medium-grey-400: #58564f;

  --color-dark-grey-100: #454441;
  --color-dark-grey-200: #3b3a37;
  --color-dark-grey-300: #2d2b29;
  --color-dark-grey-400: #262523;

  --color-black: #171614;

  /* Primary Colors */
  --color-primary: #ff4200;
  --color-primary-light: #ff6b35;
  --color-primary-faded: #ff7a52;

  /* Secondary Palette */
  --color-burnt-sienna: #c4572a;
  --color-amber-gold: #f0a500;
  --color-warm-tan: #c4a882;

  /* Tertiary Palette - Light Mode */
  --color-pale-sienna: #fff3e8;
  --color-brick-light: #ffe0d4;
  --color-terracotta-dark: #a83000;
  --color-slate-dark: #4a4d5e;
  --color-slate-dark-muted: #868792;
  --color-yellow-light: #fff5d9;

  /* Tertiary Palette - Dark Mode */
  --color-brown-sienna: #3c2a24;
  --color-amber-brown: #3d1a0e;
  --color-brick-dark: #6b1a00;
  --color-terracotta-light: #ff9070;
  --color-slate-light: #8b8fa8;
  --color-yellow-dark: #ce8924;

  /* Functional Colors Palette */
  --color-red: #f22c2c;
  --color-red-pastel: #ffd6d2;
  --color-red-muted: #c61300;
  --color-red-dark: #8b1a0f;
  --color-orange: #ff4a1a;
  --color-orange-pastel: #ffcdc0;
  --color-orange-muted: #db502a;
  --color-orange-dark: #cc3300;
  --color-yellow: #f9d34c;
  --color-yellow-pastel: #fff5d9;
  --color-yellow-muted: #db8f2a;
  --color-yellow-dark: #ce8924;
  --color-green: #00ad52;
  --color-green-pastel: #caeade;
  --color-green-muted: #2aa18f;
  --color-green-dark: #1a6b4f;
  --color-blue: #0066cc;
  --color-blue-pastel: #cfecff;
  --color-blue-muted: #26669b;
  --color-blue-dark: #1a4a6b;
  --color-purple: #9933ff;
  --color-purple-pastel: #ebe3ff;
  --color-purple-muted: #6149b7;
  --color-purple-dark: #4a1a6b;

  /* Color Mapping */
  /* Primary Button Colors */
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-bg-hover: var(--color-primary-light);
  --color-button-primary-text: var(--color-white);

  /* Secondary Colors */
  --color-text-secondary: var(--color-warm-tan);
  --color-text-highlight: var(--color-burnt-sienna);
  --color-warning: var(--color-amber-gold);

  /* Status Colors */
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);

  --color-progress-low: var(--color-red);
  --color-progress-med: var(--color-orange);
  --color-progress-high: var(--color-yellow);
  --color-progress-done: var(--color-green);

  /* Light theme: Main */
  --color-bg: var(--color-white);
  --color-border: var(--color-light-grey-300);
  --color-text: var(--color-black);
  --color-text-muted: var(--color-medium-grey-100);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-pale-sienna);
  --color-btn-secondary-border: var(--color-burnt-sienna);
  --color-btn-secondary-text: var(--color-burnt-sienna);

  --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-light-grey-100);
  --color-btn-tertiary-border: var(--color-light-grey-400);
  --color-btn-tertiary-border-hover: var(--color-medium-grey-100);
  --color-btn-tertiary-text: var(--color-black);

  --color-btn-disabled-bg: var(--color-light-grey-100);
  --color-btn-disabled-border: var(--color-light-grey-300);
  --color-btn-disabled-text: var(--color-slate-dark-muted);

  --color-callout-bg: var(--color-pale-sienna);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-text-highlight);

  --color-warning-bg: var(--color-yellow-light);
  --color-warning-accent: var(--color-light-grey-300);

  /* Light theme: Forms and Inputs */
  --color-input-bg: var(--color-light-grey-200);
  --color-input-border: var(--color-light-grey-400);
  --color-input-border-focus: var(--color-medium-grey-200);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-medium-grey-100);
  --color-input-text-helper: var(--color-burnt-sienna);

  /* Light theme: Surface / Tile */
  --color-surface-bg: var(--color-light-grey-100);
  --color-surface-border: var(--color-border);
  --color-surface-input-bg: var(--color-white);
  --color-surface-callout-bg: var(--color-light-grey-300);
  --color-surface-callout-accent: var(--color-text-highlight);
  --color-surface-callout-text-header: var(--color-text-highlight);

  /* Light theme: Card */
  --color-card-bg: var(--color-white);
  --color-card-bg-hover: var(--color-surface-bg);
  --color-card-bg-active: var(--color-card-bg);
  --color-card-border: var(--color-border);
  --color-card-border-active: var(--color-medium-grey-100);
  --color-card-divider: var(--color-light-grey-400);

  --color-card-icon: var(--color-medium-grey-100);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-bg: var(--color-light-grey-100);
  --color-card-icon-bg-hover: var(--color-card-icon-border);
  --color-card-icon-border: var(--color-border);

  /* Light theme: Tab Navigation */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-light-grey-100);
  --color-tab-bg-active: var(--color-pale-sienna);
  --color-tab-border: var(--color-border);
  --color-tab-text: var(--color-slate-dark);
  --color-tab-text-active: var(--color-black);

  /* Light theme: Tables */
  --color-table-bg: var(--color-white);
  --color-table-header-bg: var(--color-light-grey-200);
  --color-table-stripe: var(--color-light-grey-100);
  --color-table-hover: var(--color-pale-sienna);

  /* Light theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-pastel);
  --color-chip-red-text: var(--color-red-muted);

  --color-chip-orange-bg: var(--color-orange-pastel);
  --color-chip-orange-text: var(--color-orange-dark);

  --color-chip-yellow-bg: var(--color-yellow-pastel);
  --color-chip-yellow-text: var(--color-yellow-dark);

  --color-chip-green-bg: var(--color-green-pastel);
  --color-chip-green-text: var(--color-green-dark);

  --color-chip-blue-bg: var(--color-blue-pastel);
  --color-chip-blue-text: var(--color-blue-dark);

  --color-chip-purple-bg: var(--color-purple-pastel);
  --color-chip-purple-text: var(--color-purple-dark);

  /* Dimensions */
  --nav-icon-dimension: 1.5rem;
  --navlink-group-padding: 0.75rem;
  --sidebar-padding: 1rem;
  --sidebar-closed-width: calc(
    var(--nav-icon-dimension) + var(--sidebar-padding) +
      var(--sidebar-padding) + var(--navlink-group-padding) +
      var(--navlink-group-padding) + 0.0625rem
  );
  --content-min-width: 23.75rem;
  --content-max-width: 87.5rem;

  /* Padding */
  --padding-login-x: clamp(5rem, 4.44vw, 4rem);
  --padding-main-x: clamp(1rem, 4.44vw, 4rem);
  --main-padding-x: clamp(1rem, 4.44vw, 4rem);
  --padding-card: clamp(2rem, 3.33vw, 3rem);
  --padding-login: clamp(2rem, 3.33vw, 3rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme: Main */
    --color-bg: var(--color-black);
    --color-border: var(--color-medium-grey-400);
    --color-text: var(--color-light-grey-200);
    --color-text-muted: var(--color-medium-grey-200);

    --color-btn-secondary-bg: transparent;
    --color-btn-secondary-bg-hover: var(--color-brown-sienna);
    --color-btn-secondary-border: var(--color-burnt-sienna);
    --color-btn-secondary-text: var(--color-burnt-sienna);

    --color-btn-tertiary-bg: transparent;
    --color-btn-tertiary-bg-hover: var(--color-dark-grey-400);
    --color-btn-tertiary-border: var(--color-medium-grey-400);
    --color-btn-tertiary-border-hover: var(--color-medium-grey-300);
    --color-btn-tertiary-text: var(--color-white);

    --color-btn-disabled-bg: transparent;
    --color-btn-disabled-border: var(--color-medium-grey-400);
    --color-btn-disabled-text: var(--color-slate-dark);

    --color-callout-bg: var(--color-dark-grey-200);
    --color-callout-accent: var(--color-text-highlight);
    --color-callout-text-header: var(--color-primary-light);

    --color-warning-bg: var(--color-dark-grey-300);
    --color-warning-accent: var(--color-dark-grey-200);

    /* Dark theme: Forms and Inputs */
    --color-input-bg: var(--color-dark-grey-300);
    --color-input-border: var(--color-medium-grey-400);
    --color-input-border-focus: var(--color-medium-grey-200);
    --color-input-text: var(--color-text);
    --color-input-text-placeholder: var(--color-medium-grey-200);
    --color-input-text-helper: var(--color-burnt-sienna);

    /* Dark theme: Surface / Tile */
    --color-surface-bg: var(--color-dark-grey-400);
    --color-surface-border: var(--color-border);
    --color-surface-input-bg: var(--color-dark-grey-200);
    --color-surface-callout-bg: var(--color-brown-sienna);
    --color-surface-callout-accent: var(--color-text-highlight);
    --color-surface-callout-text-header: var(--color-primary-light);

    /* Dark theme: Card */
    --color-card-bg: var(--color-dark-grey-200);
    --color-card-bg-hover: var(--color-dark-grey-100);
    --color-card-bg-active: var(--color-card-bg);
    --color-card-border: var(--color-border);
    --color-card-border-active: var(--color-medium-grey-200);
    --color-card-divider: var(--color-medium-grey-300);

    --color-card-icon: var(--color-medium-grey-200);
    --color-card-icon-accent: var(--color-primary);
    --color-card-icon-bg: var(--color-dark-grey-100);
    --color-card-icon-bg-hover: var(--color-card-icon-border);
    --color-card-icon-border: var(--color-border);

    /* Dark theme: Tab Navigation */
    --color-tab-bg: transparent;
    --color-tab-bg-hover: var(--color-dark-grey-400);
    --color-tab-bg-active: var(--color-dark-grey-200);
    --color-tab-border: var(--color-border);
    --color-tab-text: var(--color-slate-light);
    --color-tab-text-active: var(--color-white);

    /* Dark theme: Tables */
    --color-table-bg: var(--color-dark-grey-400);
    --color-table-header-bg: var(--color-dark-grey-200);
    --color-table-stripe: var(--color-dark-grey-300);
    --color-table-hover: var(--color-dark-grey-100);

    /* Dark theme: Chip Pairings */
    --color-chip-primary-bg: var(--color-primary);
    --color-chip-primary-text: var(--color-white);

    --color-chip-red-bg: var(--color-red-dark);
    --color-chip-red-text: var(--color-red-pastel);

    --color-chip-orange-bg: var(--color-orange-dark);
    --color-chip-orange-text: var(--color-orange-pastel);

    --color-chip-yellow-bg: var(--color-yellow-muted);
    --color-chip-yellow-text: var(--color-yellow-pastel);

    --color-chip-green-bg: var(--color-green-muted);
    --color-chip-green-text: var(--color-green-pastel);

    --color-chip-blue-bg: var(--color-blue-muted);
    --color-chip-blue-text: var(--color-blue-pastel);

    --color-chip-purple-bg: var(--color-purple-muted);
    --color-chip-purple-text: var(--color-purple-pastel);
  }
}

/* Base Styles */

body {
  display: flex;
  min-width: 320px;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
}

h1 {
  font-size: var(--text-4xl);
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}

h2 {
  font-size: var(--text-2xl);
  line-height: 1.25;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-size: var(--text-lg);
}

p {
  font-family: inherit;
  font-size: var(--text-base);
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-dark);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-light);
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input {
  width: 100%;
  min-width: 6rem;
  min-height: 2rem;
  background: var(--color-bg-surface);
  font: inherit;
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--color-secondary);
  border-radius: 0.375rem;
  transition: border-color 200ms ease;
}

input::placeholder {
  color: var(--color-text-sidebar);
  opacity: 50%;
}

input:focus {
  border-color: var(--color-focus);
}

.page {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.page > * {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  padding: 0 var(--main-padding-x) var(--main-padding-x) var(--main-padding-x);
}

.main header {
  width: 100%;
  padding: 1rem 0 2rem 0;
}

.content {
  min-width: var(--content-min-width);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

/* Progress Bars */
.progress-bar {
  width: 100%;
  height: 0.875rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.25rem;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  transition: width 200ms ease;
}

.progress.low {
  background-color: var(--color-progress-low);
}
.progress.med {
  background-color: var(--color-progress-med);
}
.progress.high {
  background-color: var(--color-progress-high);
}
.progress.done {
  background-color: var(--color-progress-done);
}

.current-percent.low {
  color: var(--color-progress-low);
}
.current-percent.med {
  color: var(--color-progress-med);
}
.current-percent.high {
  color: var(--color-progress-high);
}
.current-percent.done {
  color: var(--color-progress-done);
}
