.tile {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
  height: auto;
  padding: var(--padding-card);
  background-color: var(--color-surface-bg);
  border-radius: 1.5rem;
  overflow: hidden;
}

.tile h2 {
  font-weight: 300;
}
