.tile {
  display: flex;
  flex-direction: column;
  gap: var(--padding-card);
  width: 100%;
  height: auto;
  padding: var(--padding-card);
  background-color: var(--color-bg-card);
  border-radius: 1.5rem;
  overflow: hidden;
}
