.topnav {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem var(--main-padding-x);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.nav-content h1 {
  font-size: var(--text-3xl);
}

.utility-nav {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.search-bar {
  display: flex;
  height: 100%;
  flex: 1;
}

.search-bar input[type="text"] {
  flex: 1;
  border-radius: 0.375rem 0 0 0.375rem;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: var(--color-secondary);
  color: var(--color-text-sidebar);
  transition: color 100ms ease-in;
  border: none;
}

.search-btn:hover {
  color: var(--color-accent);
}
