/* ====== THEME VARIABLES ====== */

:root,
[data-theme="light"] {
  /* --- Color Palette --- */

  /* Neutral Palette */
  --color-white: #faf9f7;
  --color-white-20: rgb(250 249 247 / 0.2);
  --color-white-40: rgb(250 249 247 / 0.4);
  --color-white-50: rgb(250 249 247 / 0.5);
  --color-white-70: rgb(250 249 247 / 0.7);
  --color-white-80: rgb(250 249 247 / 0.8);
  --color-neutral-25: #f2f0ed;
  --color-neutral-50: #e9e7e2;
  --color-neutral-50-90: rgb(233 231 226 / 0.9);
  --color-neutral-100: #d1cfc9;
  --color-neutral-100-50: rgb(209 207 201 / 0.5);
  --color-neutral-100-70: rgb(209 207 201 / 0.7);
  --color-neutral-200: #cac7c0;
  --color-neutral-300: #b5b2ab;
  --color-neutral-400: #9a9690;
  --color-neutral-500: #89867e;
  --color-neutral-600: #706e66;
  --color-neutral-700: #58564f;
  --color-neutral-700-60: rgb(88 86 79 / 0.6);
  --color-neutral-800: #3b3a37;
  --color-neutral-800-50: rgb(59 58 55 / 0.5);
  --color-neutral-900: #262522;
  --color-neutral-950: #1f1e1c;
  --color-black: #171614;
  --color-black-10: rgb(23 22 20 / 0.1);
  --color-black-20: rgb(23 22 20 / 0.2);
  --color-black-30: rgb(23 22 20 / 0.3);
  --color-black-40: rgb(23 22 20 / 0.4);
  --color-black-50: rgb(23 22 20 / 0.5);
  --color-black-60: rgb(23 22 20 / 0.6);
  --color-black-70: rgb(23 22 20 / 0.7);
  --color-black-80: rgb(23 22 20 / 0.8);
  --color-black-90: rgb(23 22 20 / 0.9);

  /* Primary Palette */
  --color-primary: #ff4200;
  --color-primary-250: #fec9b5;
  --color-primary-500: #fd9478;
  --color-primary-750: #fc5f3b;
  --color-primary-light: #fff3e8;
  --color-primary-deep: #c4572a;
  --color-primary-dark: #3c2a24;

  /* Secondary Palette */
  --color-amber-gold: #f0a500;

  --color-warm-tan-light: #c4a882;
  --color-warm-tan-dark: #ad7644;

  --color-slate-white: #f3f6ff;
  --color-slate-light: #8c91ae;
  --color-slate-light-50: rgb(140 145 174 / 0.5);
  --color-slate-grey: #868792;
  --color-slate-dark: #4a4d5e;
  --color-slate-black: #2d2d30;

  /* Functional Color Palette */
  --color-red: #f22c2c;
  --color-red-pastel: #ffd6d2;
  --color-red-muted: #c61300;
  --color-red-dark: #8b1a0f;
  --color-orange: #ff4a1a;
  --color-orange-pastel: #ffcdc0;
  --color-orange-muted: #db502a;
  --color-orange-dark: #cc3300;
  --color-yellow: #f9d34c;
  --color-yellow-pastel: #fff5d9;
  --color-yellow-muted: #dba437;
  --color-yellow-dark: #ce8924;
  --color-green: #00ad52;
  --color-green-pastel: #caeade;
  --color-green-muted: #2aa18f;
  --color-green-dark: #1a6b4f;
  --color-blue: #0066cc;
  --color-blue-pastel: #cfecff;
  --color-blue-muted: #26669b;
  --color-blue-dark: #1a4a6b;
  --color-purple: #9933ff;
  --color-purple-pastel: #ebe3ff;
  --color-purple-muted: #6149b7;
  --color-purple-dark: #4a1a6b;

  /* --- Color Mapping --- */

  /* General */
  --color-bg: var(--color-white);
  --color-bg-wash-gradient: var(--color-primary-500);

  --color-text: var(--color-black);
  --color-text-secondary: var(--color-warm-tan-dark);
  --color-text-muted: var(--color-neutral-300);
  --color-text-highlight: var(--color-primary-deep);

  --color-border: var(--color-neutral-100);

  --color-accent-past: var(--color-slate-light);

  --color-warning: var(--color-amber-gold);

  /* Status Colors */
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);

  --color-progress-low: var(--color-red);
  --color-progress-med: var(--color-orange);
  --color-progress-high: var(--color-yellow);
  --color-progress-done: var(--color-green);

  /* Login Colors */
  --color-login-card-bg: var(--color-white);
  --color-login-card-bg-opacity: var(--color-white-70);

  /* Top Nav Colors */
  --color-btn-search-bg: var(--color-neutral-25);
  --color-btn-search-icon: var(--color-text-muted);
  --color-btn-search-icon-hover: var(--color-text);

  --color-dropdown-bg-hover: var(--color-sidebar-link-bg-hover);
  --color-dropdown-text-hover: var(--color-primary);
  --color-dropdown-logout-bg-hover: var(--color-red-pastel);
  --color-dropdown-logout-border: transparent;
  --color-dropdown-logout-border-hover: transparent;

  /* Button Colors */
  --color-btn-disabled-bg: var(--color-neutral-50);
  --color-btn-disabled-text: var(--color-neutral-400);
  --color-btn-disabled-border: var(--color-neutral-200);

  --color-btn-primary-bg: var(--color-primary);
  --color-btn-primary-bg-hover: var(--color-primary-500);
  --color-btn-primary-text: var(--color-white);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-primary-light);
  --color-btn-secondary-text: var(--color-primary-deep);
  --color-btn-secondary-border: var(--color-btn-secondary-text);

  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary: var(--color-text-muted);
  --color-action-icon-secondary-hover: var(--color-primary-deep);

  /* --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-neutral-50);
  --color-btn-tertiary-text: var(--color-black);
  --color-btn-tertiary-border: var(--color-neutral-300);
  --color-btn-tertiary-border-hover: var(--color-neutral-400); */

  /* --color-action-icon-primary: var(--color-primary);
  --color-action-icon-primary-bg: transparent;
  --color-action-icon-primary-bg-hover: var(--color-primary-light);
  --color-action-icon-primary-border: var(--color-primary);*/

  /* --color-callout-bg: var(--color-primary-light);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-text-highlight); */

  /* Sidebar Colors */
  --color-sidebar-bg: var(--color-neutral-25);
  --color-sidebar-link-bg-hover: var(--color-neutral-100-70);
  --color-sidebar-link-text: var(--color-neutral-600);
  --color-sidebar-link-text-hover: var(--color-primary);
  --color-sidebar-icon: var(--color-sidebar-link-text);
  --color-sidebar-icon-bg-hover: var(--color-sidebar-link-bg-hover);
  --color-sidebar-toggle-bg: var(--color-bg);
  --color-sidebar-toggle-border: var(--color-neutral-300);
  --color-sidebar-border: var(--color-neutral-50);

  /* Form and Input Colors */
  --color-input-bg: var(--color-bg);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-text-muted);
  --color-input-text-helper: var(--color-primary-deep);
  --color-input-border: var(--color-border);
  --color-input-dropdown-bg: var(--color-white);
  --color-input-dropdown-bg-hover: var(--color-neutral-50);
  --color-input-dropdown-text: var(--color-black);

  /* Surface (Tile) Colors */
  --color-surface-bg: var(--color-neutral-25);
  --color-surface-border: var(--color-border);

  --hero-bg-gradient:
    radial-gradient(
      ellipse 90% 65% at 25% 30%,
      rgb(255 255 255 / 0.9),
      transparent 90%
    ),
    radial-gradient(ellipse 100% 30% at 25% 80%, rgb(0 0 0 / 0.4), transparent);

  --hero-bg-gradient-screen-lg:
    radial-gradient(
      ellipse 70% 65% at 25% 30%,
      rgb(255 255 255 / 0.9),
      transparent 90%
    ),
    radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

  --color-scroll-shadow-step1: var(--color-black-20);
  --color-scroll-shadow-step2: var(--color-black-10);

  /* Card Colors */
  --color-card-bg: var(--color-white-50);
  --color-card-border: var(--color-border);
  --color-card-divider: var(--color-border);

  --color-card-icon-bg: var(--color-neutral-25);
  --color-card-icon-bg-hover: var(--color-neutral-50);
  --color-card-icon: var(--color-neutral-300);
  --color-card-icon-hover: var(--color-text-highlight);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-border: var(--color-card-icon);
  --color-card-icon-border-hover: var(--color-card-icon-hover);

  /* Box Shadow */
  --box-shadow-login: 0 0 6px rgba(0 0 0 / 0.1), 0 0 15px rgba(0 0 0 / 0.1);
  --box-shadow-dropdown: 0 0 6px rgba(0 0 0 / 0.1), 0 0 12px rgba(0 0 0 / 0.1);
  --box-shadow:
    2px 2px 3px -2px rgb(0 0 0 / 0.1), 4px 4px 10px -5px rgb(0 0 0 / 0.1);
  --box-shadow-y:
    0 2px 3px -2px rgb(0 0 0 / 0.1), 0 4px 10px -5px rgb(0 0 0 / 0.1);
  --box-shadow-x:
    1px 0 3px -1px rgb(0 0 0 / 0.04), 2px 0 8px -2px rgb(0 0 0 / 0.06);
  --text-shadow: 2px 2px 4px rgba(0 0 0 / 0.1);

  /* Tab Navigation Colors */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-neutral-50);
  --color-tab-text: var(--color-slate-grey);
  --color-tab-text-active: var(--color-text);
  --color-tab-accent-active: var(--color-primary);
  --color-tab-border: var(--color-neutral-100);
  --color-tab-border-active: var(--color-neutral-200);

  /* Table Colors */
  --color-table-bg: var(--color-white);
  --color-table-header-bg: var(--color-neutral-100);
  --color-table-stripe: var(--color-neutral-50);
  --color-table-hover: var(--color-primary-light);

  /* Chip Color Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-pastel);
  --color-chip-red-text: var(--color-red-muted);

  --color-chip-orange-bg: var(--color-orange-pastel);
  --color-chip-orange-text: var(--color-orange-dark);

  --color-chip-yellow-bg: var(--color-yellow-pastel);
  --color-chip-yellow-text: var(--color-yellow-dark);

  --color-chip-green-bg: var(--color-green-pastel);
  --color-chip-green-text: var(--color-green-dark);

  --color-chip-blue-bg: var(--color-blue-pastel);
  --color-chip-blue-text: var(--color-blue-dark);

  --color-chip-purple-bg: var(--color-purple-pastel);
  --color-chip-purple-text: var(--color-purple-dark);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    /* Dark theme: Main */
    --color-bg: var(--color-black);
    --color-text: var(--color-neutral-100);
    --color-text-secondary: var(--color-warm-tan-light);
    --color-text-muted: var(--color-neutral-500);
    --color-text-card-muted: var(--color-neutral-400);
    --color-border: var(--color-neutral-700);
    --color-accent-past: var(--color-slate-dark);
    --color-bg-wash-gradient: var(--color-primary-deep);

    /* Dark theme: Login */
    --color-login-card-bg: var(--color-black);
    --color-login-card-bg-opacity: var(--color-black-80);

    /* Dark theme: Top Nav */
    --color-btn-search-bg: var(--color-neutral-900);
    --color-btn-search-icon: var(--color-text-muted);
    --color-btn-search-icon-hover: var(--color-text);

    --color-dropdown-logout-bg-hover: transparent;
    --color-dropdown-logout-border: transparent;
    --color-dropdown-logout-border-hover: var(--color-red);

    /* Dark theme: Buttons */
    --color-btn-primary-disabled-bg: var(--color-neutral-900);
    --color-btn-primary-disabled-text: var(--color-neutral-500);
    --color-btn-primary-disabled-border: var(--color-neutral-700);

    --color-btn-secondary-bg: transparent;
    --color-btn-secondary-bg-hover: var(--color-primary-dark);
    --color-btn-secondary-text: var(--color-primary-deep);
    --color-btn-secondary-border: var(--color-primary-deep);

    --color-btn-tertiary-bg: transparent;
    --color-btn-tertiary-bg-hover: var(--color-neutral-950);
    --color-btn-tertiary-text: var(--color-white);
    --color-btn-tertiary-border: var(--color-neutral-700);
    --color-btn-tertiary-border-hover: var(--color-neutral-600);

    --color-btn-disabled-bg: transparent;
    --color-btn-disabled-text: var(--color-slate-dark);
    --color-btn-disabled-border: var(--color-neutral-700);

    --color-action-icon-secondary-bg: transparent;
    --color-action-icon-secondary: var(--color-text-muted);
    --color-action-icon-secondary-hover: var(--color-primary-deep);
    --color-action-icon-secondary-border: var(--color-action-icon-secondary);
    --color-action-icon-secondary-border-hover: var(--color-neutral-400);

    /* --color-callout-bg: var(--color-neutral-900);
    --color-callout-accent: var(--color-text-highlight);
    --color-callout-text-header: var(--color-primary-light); */

    /* Dark theme: Sidebar */
    --color-sidebar-bg: var(--color-neutral-950);
    --color-sidebar-link-bg-hover: var(--color-neutral-800);
    --color-sidebar-link-text: var(--color-neutral-300);
    --color-sidebar-toggle-border: var(--color-neutral-600);

    /* Dark theme: Forms and Inputs */
    --color-input-bg: var(--color-black);
    --color-input-border: var(--color-border);

    /* Dark theme: Surface / Tile */
    --color-surface-bg: var(--color-neutral-950);

    --hero-bg-gradient:
      linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
      radial-gradient(
        ellipse 150% 250% at -10% -25%,
        rgb(23 22 20 / 0.5),
        transparent 80%
      ),
      radial-gradient(
        ellipse 100% 30% at 25% 80%,
        rgb(0 0 0 / 0.3),
        transparent
      );

    --hero-bg-gradient-screen-lg:
      linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
      radial-gradient(
        ellipse 140% 160% at -10% -10%,
        rgb(23 22 20 / 0.5),
        transparent 80%
      ),
      radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

    --color-scroll-shadow-step1: var(--color-black-80);
    --color-scroll-shadow-step2: var(--color-black-70);

    /* Dark theme: Card */
    --color-card-bg: var(--color-neutral-900);
    --color-card-border: var(--color-neutral-800);
    --color-card-divider: var(--color-neutral-700-60);

    --color-card-icon-bg: var(--color-neutral-800);
    --color-card-icon-bg-hover: var(--color-neutral-800-50);
    --color-card-icon: var(--color-neutral-500);

    /* Dark theme: Tab Navigation */
    --color-tab-bg: transparent;
    --color-tab-bg-hover: var(--color-dark-grey-400);
    --color-tab-bg-active: var(--color-neutral-900);
    --color-tab-border: var(--color-border);
    --color-tab-text: var(--color-text-muted);
    --color-tab-text-active: var(--color-white);

    /* Dark theme: Tables */
    --color-table-bg: var(--color-dark-grey-400);
    --color-table-header-bg: var(--color-neutral-900);
    --color-table-stripe: var(--color-surface-bg);
    --color-table-hover: var(--color-neutral-900);

    /* Dark theme: Chip Pairings */
    --color-chip-primary-bg: var(--color-primary);
    --color-chip-primary-text: var(--color-white);

    --color-chip-red-bg: var(--color-red-dark);
    --color-chip-red-text: var(--color-red-pastel);

    --color-chip-orange-bg: var(--color-orange-dark);
    --color-chip-orange-text: var(--color-orange-pastel);

    --color-chip-yellow-bg: var(--color-yellow-muted);
    --color-chip-yellow-text: var(--color-amber-brown);

    --color-chip-green-bg: var(--color-green-muted);
    --color-chip-green-text: var(--color-green-pastel);

    --color-chip-blue-bg: var(--color-blue-muted);
    --color-chip-blue-text: var(--color-blue-pastel);

    --color-chip-purple-bg: var(--color-purple-muted);
    --color-chip-purple-text: var(--color-purple-pastel);
  }
}

[data-theme="dark"] {
  /* Dark theme: General */
  --color-bg: var(--color-black);
  --color-bg-wash-gradient: var(--color-primary-deep);

  --color-text: var(--color-white);
  --color-text-secondary: var(--color-warm-tan-light);
  --color-text-muted: var(--color-neutral-600);

  --color-border: var(--color-neutral-800);

  --color-accent-past: var(--color-slate-dark);

  /* Dark theme: Login Colors */
  --color-login-card-bg: var(--color-dark-grey-400);
  --color-login-card-bg-opacity: var(--color-black-90);

  /* Dark theme: Top Nav Colors */
  --color-btn-search-bg: var(--color-neutral-950);

  --color-dropdown-logout-bg-hover: transparent;
  --color-dropdown-logout-border: transparent;
  --color-dropdown-logout-border-hover: var(--color-red);

  /* Dark theme: Button Colors */
  --color-btn-disabled-bg: var(--color-neutral-900);
  --color-btn-disabled-text: var(--color-neutral-500);
  --color-btn-disabled-border: var(--color-neutral-700);

  --color-btn-secondary-bg-hover: var(--color-primary-dark);

  /* --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-neutral-950);
  --color-btn-tertiary-text: var(--color-white);
  --color-btn-tertiary-border: var(--color-neutral-700);
  --color-btn-tertiary-border-hover: var(--color-neutral-600); */

  /* --color-callout-bg: var(--color-neutral-900);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-primary-light); */

  /* Dark theme: Sidebar Colors */
  --color-sidebar-bg: var(--color-neutral-950);
  --color-sidebar-link-bg-hover: var(--color-neutral-800);
  --color-sidebar-link-text: var(--color-neutral-300);
  --color-sidebar-toggle-border: var(--color-neutral-600);
  --color-sidebar-border: var(--color-neutral-900);

  /* Dark theme: Surface (Tile) Colors */
  --color-surface-bg: var(--color-neutral-950);

  --hero-bg-gradient:
    linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
    radial-gradient(
      ellipse 150% 250% at -10% -25%,
      rgb(23 22 20 / 0.5),
      transparent 80%
    ),
    radial-gradient(ellipse 100% 30% at 25% 80%, rgb(0 0 0 / 0.3), transparent);

  --hero-bg-gradient-screen-lg:
    linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
    radial-gradient(
      ellipse 140% 160% at -10% -10%,
      rgb(23 22 20 / 0.5),
      transparent 80%
    ),
    radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

  --color-scroll-shadow-step1: var(--color-black-80);
  --color-scroll-shadow-step2: var(--color-black-70);

  /* Dark theme: Card Colors */
  --color-card-bg: var(--color-neutral-900);

  --color-card-icon-bg: var(--color-neutral-800-50);
  --color-card-icon-bg-hover: var(--color-neutral-800);
  --color-card-icon: var(--color-neutral-600);

  /* Dark theme: Tab Navigation Colors */
  --color-tab-bg-hover: var(--color-neutral-900);
  --color-tab-text: var(--color-slate-light);
  --color-tab-border: var(--color-neutral-800);
  --color-tab-border-active: var(--color-neutral-700);

  /* Dark theme: Tables */
  --color-table-bg: var(--color-dark-grey-400);
  --color-table-header-bg: var(--color-neutral-900);
  --color-table-stripe: var(--color-surface-bg);
  --color-table-hover: var(--color-neutral-900);

  /* Dark theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-dark);
  --color-chip-red-text: var(--color-red-pastel);

  --color-chip-orange-bg: var(--color-orange-dark);
  --color-chip-orange-text: var(--color-orange-pastel);

  --color-chip-yellow-bg: var(--color-yellow-muted);
  --color-chip-yellow-text: var(--color-amber-brown);

  --color-chip-green-bg: var(--color-green-muted);
  --color-chip-green-text: var(--color-green-pastel);

  --color-chip-blue-bg: var(--color-blue-muted);
  --color-chip-blue-text: var(--color-blue-pastel);

  --color-chip-purple-bg: var(--color-purple-muted);
  --color-chip-purple-text: var(--color-purple-pastel);
}
