/* ====== THEME VARIABLES ====== */

:root,
[data-theme="light"] {
  /* --- Color Palette --- */

  /* Neutral Palette */
  --color-white: #faf9f7;
  --color-white-20: rgb(250 249 247 / 0.2);
  --color-white-40: rgb(250 249 247 / 0.4);
  --color-white-50: rgb(250 249 247 / 0.5);
  --color-white-70: rgb(250 249 247 / 0.7);
  --color-white-80: rgb(250 249 247 / 0.8);
  --color-neutral-25: #f2f0ed;
  --color-neutral-50: #e9e7e2;
  --color-neutral-50-90: rgb(233 231 226 / 0.9);
  --color-neutral-100: #d1cfc9;
  --color-neutral-100-50: rgb(209 207 201 / 0.5);
  --color-neutral-100-70: rgb(209 207 201 / 0.7);
  --color-neutral-200: #cac7c0;
  --color-neutral-300: #b5b2ab;
  --color-neutral-400: #9a9690;
  --color-neutral-500: #89867e;
  --color-neutral-600: #706e66;
  --color-neutral-700: #58564f;
  --color-neutral-700-60: rgb(88 86 79 / 0.6);
  --color-neutral-700-80: rgb(88 86 79 / 0.8);
  --color-neutral-800: #3b3a37;
  --color-neutral-800-50: rgb(59 58 55 / 0.5);
  --color-neutral-900: #262522;
  --color-neutral-950: #1f1e1c;
  --color-black: #171614;
  --color-black-10: rgb(23 22 20 / 0.1);
  --color-black-20: rgb(23 22 20 / 0.2);
  --color-black-30: rgb(23 22 20 / 0.3);
  --color-black-40: rgb(23 22 20 / 0.4);
  --color-black-50: rgb(23 22 20 / 0.5);
  --color-black-60: rgb(23 22 20 / 0.6);
  --color-black-70: rgb(23 22 20 / 0.7);
  --color-black-80: rgb(23 22 20 / 0.8);
  --color-black-90: rgb(23 22 20 / 0.9);

  /* Primary Palette */
  --color-primary-100: #ffe0cc;
  --color-primary-200: #ffc4a0;
  --color-primary-300: #ff9466;
  --color-primary-400: #ff6a30;
  --color-primary: #ff4200;
  --color-primary-600: #c4572a;
  --color-primary-700: #6b3020;
  --color-primary-800: #3c2a24;
  --color-primary-900: #1a1210;

  /* Secondary Palette */
  --color-amber-gold: #f0a500;

  --color-warm-tan-light: #c4a882;
  --color-warm-tan-dark: #ad7644;

  --color-slate-white: #f3f6ff;
  --color-slate-light: #8c91ae;
  --color-slate-light-50: rgb(140 145 174 / 0.5);
  --color-slate-grey: #868792;
  --color-slate-dark: #4a4d5e;
  --color-slate-black: #2d2d30;

  /* Functional Color Palette */
  --color-red: #f22c2c;
  --color-red-pastel: #ffada5;
  --color-red-pastel-50: rgb(255 173 165 / 0.5);
  --color-red-muted: #c61300;
  --color-red-muted-50: rgb(198 19 0 / 0.5);
  --color-red-dark: #8b1a0f;
  --color-red-dark-50: rgb(139 26 15 / 0.5);
  --color-orange: #ff4a1a;
  --color-orange-pastel: #ffbcab;
  --color-orange-pastel-50: rgb(255 188 171 / 0.5);
  --color-orange-muted: #db502a;
  --color-orange-muted-50: rgb(219 80 42/0.5);
  --color-orange-dark: #cc3300;
  --color-orange-dark-50: rgb(204 51 0 / 0.5);
  --color-yellow: #f9d34c;
  --color-yellow-pastel: #ffebb3;
  --color-yellow-pastel-50: rgb(255 235 179 / 0.5);
  --color-yellow-muted: #dba437;
  --color-yellow-muted-50: rgb(219 164 55 / 0.5);
  --color-yellow-dark: #ce8924;
  --color-yellow-dark-50: rgb(206 137 36 / 0.5);
  --color-green: #00ad52;
  --color-green-pastel: #95d5bd;
  --color-green-pastel-50: rgb(149 213 189 / 0.5);
  --color-green-muted: #2aa18f;
  --color-green-muted-50: rgb(42 161 143 / 0.5);
  --color-green-dark: #1a6b4f;
  --color-green-dark-50: rgb(26 107 79 / 0.5);
  --color-blue: #0066cc;
  --color-blue-pastel: #9fd9ff;
  --color-blue-pastel-50: rgb(159 217 255 / 0.5);
  --color-blue-muted: #26669b;
  --color-blue-muted-50: rgb(38 102 155 / 0.5);
  --color-blue-dark: #1a4a6b;
  --color-blue-dark-50: rgb(26 74 107 / 0.5);
  --color-purple: #9933ff;
  --color-purple-pastel: #d7c7ff;
  --color-purple-pastel-50: rgb(215 199 255 / 0.5);
  --color-purple-muted: #6149b7;
  --color-purple-muted-50: rgb(97 73 183 / 0.5);
  --color-purple-dark: #4a1a6b;
  --color-purple-dark-50: rgb(74 26 107 / 0.5);

  /* --- Color Mapping --- */

  /* General */
  --color-bg: var(--color-white);
  --color-bg-wash-gradient: var(--color-primary-300);

  --color-text: var(--color-black);
  --color-text-secondary: var(--color-warm-tan-dark);
  --color-text-muted: var(--color-neutral-400);
  --color-text-highlight: var(--color-primary-600);

  --color-border: var(--color-neutral-100);

  --color-accent-past: var(--color-slate-light);

  --color-warning: var(--color-amber-gold);

  /* Status Colors */
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);

  --color-progress-low: var(--color-red);
  --color-progress-med: var(--color-orange);
  --color-progress-high: var(--color-yellow);
  --color-progress-done: var(--color-green);

  /* Login Colors */
  --color-login-card-bg: var(--color-white);
  --color-login-card-bg-opacity: var(--color-white-70);

  /* Top Nav Colors */
  --color-btn-search-bg: var(--color-neutral-25);
  --color-btn-search-icon: var(--color-text-muted);
  --color-btn-search-icon-hover: var(--color-text);

  --color-dropdown-bg-hover: var(--color-sidebar-link-bg-hover);
  --color-dropdown-text-hover: var(--color-primary);
  --color-dropdown-logout-bg-hover: var(--color-red-pastel);
  --color-dropdown-logout-border: transparent;
  --color-dropdown-logout-border-hover: transparent;

  /* Button Colors */
  --color-btn-disabled-bg: var(--color-neutral-50);
  --color-btn-disabled-text: var(--color-neutral-400);
  --color-btn-disabled-border: var(--color-neutral-200);

  --color-btn-primary-bg: var(--color-primary);
  --color-btn-primary-bg-hover: var(--color-primary-400);
  --color-btn-primary-text: var(--color-white);

  --color-btn-primary-paused-bg-fill: var(--color-primary-300);
  --color-btn-primary-paused-text: var(--color-text);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-primary-100);
  --color-btn-secondary-text: var(--color-primary-600);
  --color-btn-secondary-border: var(--color-btn-secondary-text);

  --color-btn-tertiary-bg: var(--color-neutral-100-70);
  --color-btn-tertiary-bg-hover: var(--color-neutral-100);

  --color-btn-arrow: var(--color-neutral-300);
  --color-btn-arrow-hover: var(--color-neutral-400);

  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary: var(--color-text-muted);
  --color-action-icon-secondary-hover: var(--color-primary-600);

  /* Sidebar Colors */
  --color-sidebar-bg: var(--color-neutral-25);
  --color-sidebar-link-bg-hover: var(--color-neutral-100-70);
  --color-sidebar-link-text: var(--color-neutral-600);
  --color-sidebar-link-text-hover: var(--color-primary);
  --color-sidebar-icon: var(--color-sidebar-link-text);
  --color-sidebar-icon-bg-hover: var(--color-sidebar-link-bg-hover);
  --color-sidebar-toggle-bg: var(--color-bg);
  --color-sidebar-toggle-border: var(--color-neutral-300);
  --color-sidebar-border: var(--color-neutral-50);

  /* Form and Input Colors */
  --color-input-bg: var(--color-bg);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-text-muted);
  --color-input-text-helper: var(--color-primary-600);
  --color-input-border: var(--color-border);
  --color-input-dropdown-bg: var(--color-white);
  --color-input-dropdown-bg-hover: var(--color-neutral-50);
  --color-input-dropdown-text: var(--color-black);

  /* Surface (Tile) Colors */
  --color-surface-bg: var(--color-neutral-25);
  --color-surface-border: var(--color-border);

  --hero-bg-gradient:
    radial-gradient(
      ellipse 90% 65% at 25% 30%,
      rgb(255 255 255 / 0.9),
      transparent 90%
    ),
    radial-gradient(ellipse 100% 30% at 25% 80%, rgb(0 0 0 / 0.4), transparent);

  --hero-bg-gradient-screen-lg:
    radial-gradient(
      ellipse 70% 65% at 25% 30%,
      rgb(255 255 255 / 0.9),
      transparent 90%
    ),
    radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

  --color-scroll-shadow-step1: var(--color-black-20);
  --color-scroll-shadow-step2: var(--color-black-10);

  /* Card Colors */
  --color-card-bg: var(--color-white-50);
  --color-card-border: var(--color-border);
  --color-card-divider: var(--color-border);

  --color-card-icon-bg: var(--color-neutral-25);
  --color-card-icon-bg-hover: var(--color-neutral-50);
  --color-card-icon: var(--color-neutral-300);
  --color-card-icon-hover: var(--color-text-highlight);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-border: var(--color-card-icon);
  --color-card-icon-border-hover: var(--color-card-icon-hover);

  /* Box Shadow */
  --box-shadow-login: 0 0 6px rgba(0 0 0 / 0.1), 0 0 15px rgba(0 0 0 / 0.1);
  --box-shadow-dropdown: 0 0 6px rgba(0 0 0 / 0.1), 0 0 12px rgba(0 0 0 / 0.1);
  --box-shadow:
    2px 2px 3px -2px rgb(0 0 0 / 0.1), 4px 4px 10px -5px rgb(0 0 0 / 0.1);
  --box-shadow-y:
    0 2px 3px -2px rgb(0 0 0 / 0.1), 0 4px 10px -5px rgb(0 0 0 / 0.1);
  --box-shadow-x:
    1px 0 3px -1px rgb(0 0 0 / 0.04), 2px 0 8px -2px rgb(0 0 0 / 0.06);
  --text-shadow: 2px 2px 4px rgba(0 0 0 / 0.1);
  --focus-shadow:
    0 0 0 1px var(--color-slate-light), 0 0 0 2px var(--color-slate-light-50);

  /* Tab Navigation Colors */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-neutral-50);
  --color-tab-text: var(--color-slate-grey);
  --color-tab-text-active: var(--color-text);
  --color-tab-accent-active: var(--color-primary);
  --color-tab-border: var(--color-neutral-100);
  --color-tab-border-active: var(--color-neutral-200);

  /* Table Colors */
  --color-table-stripe: var(--color-neutral-25);
  --color-table-hover: var(--color-neutral-50);

  /* Calendar Colors */
  --color-calendar-grid: var(--color-neutral-200);
  --color-calendar-accent: var(--color-primary-200);

  /* Chip Color Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-bg-hover: var(--color-primary-300);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-pastel-50);
  --color-chip-red-bg-hover: var(--color-red-pastel);
  --color-chip-red-text: var(--color-red-muted);

  --color-chip-orange-bg: var(--color-orange-pastel-50);
  --color-chip-orange-bg-hover: var(--color-orange-pastel);
  --color-chip-orange-text: var(--color-orange-dark);

  --color-chip-yellow-bg: var(--color-yellow-pastel-50);
  --color-chip-yellow-bg-hover: var(--color-yellow-pastel);
  --color-chip-yellow-text: var(--color-warm-tan-dark);

  --color-chip-green-bg: var(--color-green-pastel-50);
  --color-chip-green-bg-hover: var(--color-green-pastel);
  --color-chip-green-text: var(--color-green-dark);

  --color-chip-blue-bg: var(--color-blue-pastel-50);
  --color-chip-blue-bg-hover: var(--color-blue-pastel);
  --color-chip-blue-text: var(--color-blue-dark);

  --color-chip-purple-bg: var(--color-purple-pastel-50);
  --color-chip-purple-bg-hover: var(--color-purple-pastel);
  --color-chip-purple-text: var(--color-purple-dark);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    /* Dark theme: General */
    --color-bg: var(--color-black);
    --color-bg-wash-gradient: var(--color-primary-600);

    --color-text: var(--color-white);
    --color-text-secondary: var(--color-warm-tan-light);
    --color-text-muted: var(--color-neutral-500);

    --color-border: var(--color-neutral-800);

    --color-accent-past: var(--color-slate-dark);

    /* Dark theme: Login Colors */
    --color-login-card-bg: var(--color-dark-grey-400);
    --color-login-card-bg-opacity: var(--color-black-90);

    /* Dark theme: Top Nav Colors */
    --color-btn-search-bg: var(--color-neutral-950);

    --color-dropdown-logout-bg-hover: transparent;
    --color-dropdown-logout-border: transparent;
    --color-dropdown-logout-border-hover: var(--color-red);

    /* Dark theme: Button Colors */
    --color-btn-disabled-bg: var(--color-neutral-900);
    --color-btn-disabled-text: var(--color-neutral-500);
    --color-btn-disabled-border: var(--color-neutral-700);

    --color-btn-primary-paused-bg-fill: var(--color-primary-600);

    --color-btn-secondary-bg-hover: var(--color-primary-800);

    --color-btn-arrow: var(--color-neutral-600);
    --color-btn-arrow-hover: var(--color-neutral-500);

    /* Dark theme: Sidebar Colors */
    --color-sidebar-bg: var(--color-neutral-950);
    --color-sidebar-link-bg-hover: var(--color-neutral-800);
    --color-sidebar-link-text: var(--color-neutral-300);
    --color-sidebar-toggle-border: var(--color-neutral-600);
    --color-sidebar-border: var(--color-neutral-900);

    /* Dark theme: Surface (Tile) Colors */
    --color-surface-bg: var(--color-neutral-950);

    --hero-bg-gradient:
      linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
      radial-gradient(
        ellipse 150% 250% at -10% -25%,
        rgb(23 22 20 / 0.5),
        transparent 80%
      ),
      radial-gradient(
        ellipse 100% 30% at 25% 80%,
        rgb(0 0 0 / 0.3),
        transparent
      );

    --hero-bg-gradient-screen-lg:
      linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
      radial-gradient(
        ellipse 140% 160% at -10% -10%,
        rgb(23 22 20 / 0.5),
        transparent 80%
      ),
      radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

    --color-scroll-shadow-step1: var(--color-black-80);
    --color-scroll-shadow-step2: var(--color-black-70);

    /* Dark theme: Card Colors */
    --color-card-bg: var(--color-neutral-900);

    --color-card-icon-bg: var(--color-neutral-800-50);
    --color-card-icon-bg-hover: var(--color-neutral-800);
    --color-card-icon: var(--color-neutral-600);

    /* Dark theme: Tab Navigation Colors */
    --color-tab-bg-hover: var(--color-neutral-900);
    --color-tab-text: var(--color-slate-light);
    --color-tab-border: var(--color-neutral-800);
    --color-tab-border-active: var(--color-neutral-700);

    /* Dark theme: Tables */
    --color-table-bg: var(--color-dark-grey-400);
    --color-table-header-bg: var(--color-neutral-900);
    --color-table-stripe: var(--color-surface-bg);
    --color-table-hover: var(--color-neutral-900);

    /* Dark theme: Calendar Colors */
    --color-calendar-grid: var(--color-neutral-700);
    --color-calendar-accent: var(--color-primary-600);

    /* Dark theme: Chip Pairings */
    --color-chip-primary-bg: var(--color-primary);
    --color-chip-primary-bg-hover: var(--color-primary-600);
    --color-chip-primary-text: var(--color-white);

    --color-chip-red-bg: var(--color-red-dark-50);
    --color-chip-red-bg-hover: var(--color-red-dark);
    --color-chip-red-text: var(--color-red-pastel);

    --color-chip-orange-bg: var(--color-orange-dark-50);
    --color-chip-orange-bg-hover: var(--color-orange-dark);
    --color-chip-orange-text: var(--color-orange-pastel);

    --color-chip-yellow-bg: var(--color-yellow-muted-50);
    --color-chip-yellow-bg-hover: var(--color-yellow-muted);
    --color-chip-yellow-text: var(--color-amber-brown);

    --color-chip-green-bg: var(--color-green-muted-50);
    --color-chip-green-bg-hover: var(--color-green-muted);
    --color-chip-green-text: var(--color-green-pastel);

    --color-chip-blue-bg: var(--color-blue-muted-50);
    --color-chip-blue-bg-hover: var(--color-blue-muted);
    --color-chip-blue-text: var(--color-blue-pastel);

    --color-chip-purple-bg: var(--color-purple-muted-50);
    --color-chip-purple-bg-hover: var(--color-purple-muted);
    --color-chip-purple-text: var(--color-purple-pastel);
  }
}

[data-theme="dark"] {
  /* Dark theme: General */
  --color-bg: var(--color-black);
  --color-bg-wash-gradient: var(--color-primary-600);

  --color-text: var(--color-white);
  --color-text-secondary: var(--color-warm-tan-light);
  --color-text-muted: var(--color-neutral-500);

  --color-border: var(--color-neutral-800);

  --color-accent-past: var(--color-slate-dark);

  /* Dark theme: Login Colors */
  --color-login-card-bg: var(--color-dark-grey-400);
  --color-login-card-bg-opacity: var(--color-black-90);

  /* Dark theme: Top Nav Colors */
  --color-btn-search-bg: var(--color-neutral-950);

  --color-dropdown-logout-bg-hover: transparent;
  --color-dropdown-logout-border: transparent;
  --color-dropdown-logout-border-hover: var(--color-red);

  /* Dark theme: Button Colors */
  --color-btn-disabled-bg: var(--color-neutral-900);
  --color-btn-disabled-text: var(--color-neutral-500);
  --color-btn-disabled-border: var(--color-neutral-700);

  --color-btn-primary-paused-bg-fill: var(--color-primary-600);

  --color-btn-secondary-bg-hover: var(--color-primary-800);

  --color-btn-tertiary-bg: var(--color-neutral-800);
  --color-btn-tertiary-bg-hover: var(--color-neutral-700-80);

  --color-btn-arrow: var(--color-neutral-600);
  --color-btn-arrow-hover: var(--color-neutral-500);

  /* Dark theme: Sidebar Colors */
  --color-sidebar-bg: var(--color-neutral-950);
  --color-sidebar-link-bg-hover: var(--color-neutral-800);
  --color-sidebar-link-text: var(--color-neutral-300);
  --color-sidebar-toggle-border: var(--color-neutral-600);
  --color-sidebar-border: var(--color-neutral-900);

  /* Dark theme: Surface (Tile) Colors */
  --color-surface-bg: var(--color-neutral-950);

  --hero-bg-gradient:
    linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
    radial-gradient(
      ellipse 150% 250% at -10% -25%,
      rgb(23 22 20 / 0.5),
      transparent 80%
    ),
    radial-gradient(ellipse 100% 30% at 25% 80%, rgb(0 0 0 / 0.3), transparent);

  --hero-bg-gradient-screen-lg:
    linear-gradient(to bottom right, rgb(23 22 20 / 0.1), transparent 70%),
    radial-gradient(
      ellipse 140% 160% at -10% -10%,
      rgb(23 22 20 / 0.5),
      transparent 80%
    ),
    radial-gradient(ellipse 60% 30% at 80% 90%, rgb(0 0 0 / 0.3), transparent);

  --color-scroll-shadow-step1: var(--color-black-80);
  --color-scroll-shadow-step2: var(--color-black-70);

  /* Dark theme: Card Colors */
  --color-card-bg: var(--color-neutral-900);

  --color-card-icon-bg: var(--color-neutral-800-50);
  --color-card-icon-bg-hover: var(--color-neutral-800);
  --color-card-icon: var(--color-neutral-600);

  /* Dark theme: Tab Navigation Colors */
  --color-tab-bg-hover: var(--color-neutral-900);
  --color-tab-text: var(--color-slate-light);
  --color-tab-border: var(--color-neutral-800);
  --color-tab-border-active: var(--color-neutral-700);

  /* Dark theme: Table Colors */
  --color-table-stripe: var(--color-neutral-950);
  --color-table-hover: var(--color-neutral-900);

  /* Dark theme: Calendar Colors */
  --color-calendar-grid: var(--color-neutral-800);
  --color-calendar-accent: var(--color-primary-600);

  /* Dark theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-bg-hover: var(--color-primary-600);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-dark-50);
  --color-chip-red-bg-hover: var(--color-red-dark);
  --color-chip-red-text: var(--color-red-pastel);

  --color-chip-orange-bg: var(--color-orange-dark-50);
  --color-chip-orange-bg-hover: var(--color-orange-dark);
  --color-chip-orange-text: var(--color-orange-pastel);

  --color-chip-yellow-bg: var(--color-yellow-muted-50);
  --color-chip-yellow-bg-hover: var(--color-yellow-muted);
  --color-chip-yellow-text: var(--color-amber-brown);

  --color-chip-green-bg: var(--color-green-muted-50);
  --color-chip-green-bg-hover: var(--color-green-muted);
  --color-chip-green-text: var(--color-green-pastel);

  --color-chip-blue-bg: var(--color-blue-muted-50);
  --color-chip-blue-bg-hover: var(--color-blue-muted);
  --color-chip-blue-text: var(--color-blue-pastel);

  --color-chip-purple-bg: var(--color-purple-muted-50);
  --color-chip-purple-bg-hover: var(--color-purple-muted);
  --color-chip-purple-text: var(--color-purple-pastel);
}

/* ====== COLOR CHIP CLASSES ====== */
.chip-primary,
.chip-1,
.chip-2,
.chip-3,
.chip-4,
.chip-5,
.chip-6 {
  transition:
    background-color 100ms ease,
    color 100ms ease;
}

.chip-primary {
  background-color: var(--color-chip-primary-bg);
  color: var(--color-chip-primary-text);
}

.chip-primary.chip-hovers:hover {
  background-color: var(--color-chip-primary-bg-hover);
}

.chip-1 {
  background-color: var(--color-chip-red-bg);
  color: var(--color-chip-red-text);
}

.chip-1.chip-hovers:hover {
  background-color: var(--color-chip-red-bg-hover);
}

.chip-2 {
  background-color: var(--color-chip-orange-bg);
  color: var(--color-chip-orange-text);
}

.chip-2.chip-hovers:hover {
  background-color: var(--color-chip-orange-bg-hover);
}

.chip-3 {
  background-color: var(--color-chip-yellow-bg);
  color: var(--color-chip-yellow-text);
}

.chip-3.chip-hovers:hover {
  background-color: var(--color-chip-yellow-bg-hover);
}

.chip-4 {
  background-color: var(--color-chip-green-bg);
  color: var(--color-chip-green-text);
}

.chip-4.chip-hovers:hover {
  background-color: var(--color-chip-green-bg-hover);
}

.chip-5 {
  background-color: var(--color-chip-blue-bg);
  color: var(--color-chip-blue-text);
}

.chip-5.chip-hovers:hover {
  background-color: var(--color-chip-blue-bg-hover);
}

.chip-6 {
  background-color: var(--color-chip-purple-bg);
  color: var(--color-chip-purple-text);
}

.chip-6.chip-hovers:hover {
  background-color: var(--color-chip-purple-bg-hover);
}
