:root {
  /* Color Palette */
  /* Greyscale Colors */
  --color-white: #ffffff;

  --color-light-grey-100: #f5f4f2;
  --color-light-grey-100-95: rgb(245, 244, 242, 0.95);
  --color-light-grey-200: #f0eee8;
  --color-light-grey-300: #e2e0dc;
  --color-light-grey-400: #c0beb9;

  --color-medium-grey-100: #9e9c97;
  --color-medium-grey-200: #89867e;
  --color-medium-grey-300: #706e66;
  --color-medium-grey-400: #58564f;
  --color-medium-grey-400-65: rgb(88, 86, 79, 0.65);

  --color-dark-grey-100: #454441;
  --color-dark-grey-200: #3b3a37;
  --color-dark-grey-300: #2d2b29;
  --color-dark-grey-400: #262523;
  --color-dark-grey-400-90: rgb(38, 37, 35, 0.9);

  --color-black: #171614;
  --color-black-75: rgb(23, 22, 20, 0.75);

  /* Primary Colors */
  --color-primary: #ff4200;
  --color-primary-light: #ff6b35;
  --color-primary-faded: #ff7a52;

  /* Secondary Palette */
  --color-burnt-sienna: #c4572a;
  --color-amber-gold: #f0a500;
  --color-warm-tan: #c4a882;

  /* Tertiary Palette - Light Mode */
  --color-pale-sienna: #fff3e8;
  --color-brick-light: #ffe0d4;
  --color-terracotta-dark: #a83000;
  --color-slate-white: #f3f6ff;
  --color-slate-dark: #4a4d5e;
  --color-slate-dark-muted: #868792;
  --color-yellow-light: #fff5d9;

  /* Tertiary Palette - Dark Mode */
  --color-brown-sienna: #3c2a24;
  --color-amber-brown: #3d1a0e;
  --color-brick-dark: #6b1a00;
  --color-terracotta-light: #ff9070;
  --color-slate-light: #8b8fa8;
  --color-slate-grey: #2d2d30;
  --color-yellow-dark: #ce8924;

  /* Functional Colors Palette */
  --color-red: #f22c2c;
  --color-red-pastel: #ffd6d2;
  --color-red-muted: #c61300;
  --color-red-dark: #8b1a0f;
  --color-orange: #ff4a1a;
  --color-orange-pastel: #ffcdc0;
  --color-orange-muted: #db502a;
  --color-orange-dark: #cc3300;
  --color-yellow: #f9d34c;
  --color-yellow-pastel: #fff5d9;
  --color-yellow-muted: #dba437;
  --color-yellow-dark: #ce8924;
  --color-green: #00ad52;
  --color-green-pastel: #caeade;
  --color-green-muted: #2aa18f;
  --color-green-dark: #1a6b4f;
  --color-blue: #0066cc;
  --color-blue-pastel: #cfecff;
  --color-blue-muted: #26669b;
  --color-blue-dark: #1a4a6b;
  --color-purple: #9933ff;
  --color-purple-pastel: #ebe3ff;
  --color-purple-muted: #6149b7;
  --color-purple-dark: #4a1a6b;

  /* Color Mapping */
  /* Primary Button Colors */
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-bg-hover: var(--color-primary-faded);
  --color-button-primary-text: var(--color-white);

  /* Secondary Colors */
  --color-text-secondary: var(--color-warm-tan);
  --color-text-highlight: var(--color-burnt-sienna);
  --color-warning: var(--color-amber-gold);

  /* Status Colors */
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);

  --color-progress-low: var(--color-red);
  --color-progress-med: var(--color-yellow-dark);
  --color-progress-high: var(--color-yellow);
  --color-progress-done: var(--color-green);

  /* Light theme: Main */
  --color-bg: var(--color-white);
  --color-border: var(--color-light-grey-300);
  --color-border-focus: rgba(113, 125, 188, 0.5);
  --color-text: var(--color-black);
  --color-text-muted: var(--color-medium-grey-100);
  --color-text-card-muted: var(--color-medium-grey-200);
  --color-accent-past: var(--color-border);

  --color-btn-primary-disabled-bg: var(--color-light-grey-100);
  --color-btn-primary-disabled-border: var(--color-light-grey-300);
  --color-btn-primary-disabled-text: var(--color-medium-grey-100);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-pale-sienna);
  --color-btn-secondary-border: var(--color-burnt-sienna);
  --color-btn-secondary-text: var(--color-burnt-sienna);

  --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-light-grey-100);
  --color-btn-tertiary-border: var(--color-light-grey-400);
  --color-btn-tertiary-border-hover: var(--color-medium-grey-100);
  --color-btn-tertiary-text: var(--color-black);

  --color-btn-disabled-bg: var(--color-light-grey-100);
  --color-btn-disabled-border: var(--color-light-grey-300);
  --color-btn-disabled-text: var(--color-slate-dark-muted);

  --color-action-icon-primary: var(--color-primary);
  --color-action-icon-primary-bg: transparent;
  --color-action-icon-primary-bg-hover: var(--color-pale-sienna);
  --color-action-icon-primary-border: var(--color-primary);

  --color-action-icon-secondary: var(--color-slate-light);
  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary-bg-hover: var(--color-slate-white);
  --color-action-icon-secondary-border: var(--color-medium-grey-100);

  --color-action-icon-secondary: var(--color-medium-grey-100);
  --color-action-icon-secondary-hover: var(--color-medium-grey-300);
  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary-bg-hover: var(--color-light-grey-100-95);
  --color-action-icon-secondary-border: var(--color-light-grey-300);
  --color-action-icon-secondary-border-hover: var(--color-light-grey-200);

  --color-callout-bg: var(--color-pale-sienna);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-text-highlight);

  --color-warning-bg: var(--color-yellow-light);
  --color-warning-accent: var(--color-light-grey-300);

  /* Light theme: Login */
  --color-login-card-bg: var(--color-light-grey-100);
  --color-login-card-bg-95: var(--color-light-grey-100-95);

  /* Light theme: Sidebar */
  --color-sidebar-bg: var(--color-surface-bg);
  --color-sidebar-border: var(--color-dark-grey-200);
  --color-sidebar-icon-collapse: var(--color-text-muted);
  --color-sidebar-icon-expand: var(--color-light-grey-400);
  --color-sidebar-icon-expand-bg: var(--color-card-bg);
  --color-sidebar-navlink: var(--color-sidebar-icon-expand);
  --color-sidebar-navlink-bg-hover: var(--color-bg);

  /* Light theme: Forms and Inputs */
  --color-input-bg: var(--color-light-grey-200);
  --color-input-border: var(--color-sidebar-border);
  --color-input-border-focus: var(--color-medium-grey-200);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-medium-grey-100);
  --color-input-text-helper: var(--color-burnt-sienna);

  /* Light theme: Surface / Tile */
  --color-surface-bg: var(--color-light-grey-100);
  --color-surface-border: var(--color-border);
  --color-surface-input-bg: var(--color-white);
  --color-surface-callout-bg: var(--color-light-grey-300);
  --color-surface-callout-accent: var(--color-text-highlight);
  --color-surface-callout-text-header: var(--color-text-highlight);

  /* Light theme: Card */
  --color-card-bg: var(--color-white);
  --color-card-bg-hover: var(--color-surface-bg);
  --color-card-bg-active: var(--color-card-bg);
  --color-card-border: var(--color-border);
  --color-card-border-active: var(--color-medium-grey-100);
  --color-card-divider: var(--color-border);

  --color-card-icon: var(--color-medium-grey-100);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-bg: var(--color-light-grey-100);
  --color-card-icon-bg-hover: var(--color-card-icon-border);
  --color-card-icon-border: var(--color-light-grey-400);

  /* Light theme: Tab Navigation */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-light-grey-100);
  --color-tab-bg-active: var(--color-pale-sienna);
  --color-tab-border: var(--color-border);
  --color-tab-text: var(--color-slate-dark);
  --color-tab-text-active: var(--color-black);

  /* Light theme: Tables */
  --color-table-bg: var(--color-white);
  --color-table-header-bg: var(--color-light-grey-200);
  --color-table-stripe: var(--color-light-grey-100);
  --color-table-hover: var(--color-pale-sienna);

  /* Light theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-pastel);
  --color-chip-red-text: var(--color-red-muted);

  --color-chip-orange-bg: var(--color-orange-pastel);
  --color-chip-orange-text: var(--color-orange-dark);

  --color-chip-yellow-bg: var(--color-yellow-pastel);
  --color-chip-yellow-text: var(--color-yellow-dark);

  --color-chip-green-bg: var(--color-green-pastel);
  --color-chip-green-text: var(--color-green-dark);

  --color-chip-blue-bg: var(--color-blue-pastel);
  --color-chip-blue-text: var(--color-blue-dark);

  --color-chip-purple-bg: var(--color-purple-pastel);
  --color-chip-purple-text: var(--color-purple-dark);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    /* Dark theme: Main */
    --color-bg: var(--color-black);
    --color-border: var(--color-medium-grey-400);
    --color-text: var(--color-light-grey-200);
    --color-text-muted: var(--color-medium-grey-200);
    --color-text-card-muted: var(--color-medium-grey-100);
    --color-accent-past: var(--color-border);

    --color-btn-primary-disabled-bg: var(--color-dark-grey-200);
    --color-btn-primary-disabled-border: var(--color-medium-grey-400);
    --color-btn-primary-disabled-text: var(--color-medium-grey-200);

    --color-btn-secondary-bg: transparent;
    --color-btn-secondary-bg-hover: var(--color-brown-sienna);
    --color-btn-secondary-border: var(--color-burnt-sienna);
    --color-btn-secondary-text: var(--color-burnt-sienna);

    --color-btn-tertiary-bg: transparent;
    --color-btn-tertiary-bg-hover: var(--color-dark-grey-400);
    --color-btn-tertiary-border: var(--color-medium-grey-400);
    --color-btn-tertiary-border-hover: var(--color-medium-grey-300);
    --color-btn-tertiary-text: var(--color-white);

    --color-btn-disabled-bg: transparent;
    --color-btn-disabled-border: var(--color-medium-grey-400);
    --color-btn-disabled-text: var(--color-slate-dark);

    --color-action-icon-primary: var(--color-primary);
    --color-action-icon-primary-bg: transparent;
    --color-action-icon-primary-bg-hover: var(--color-brown-sienna);
    --color-action-icon-primary-border: var(--color-primary);

    --color-action-icon-secondary: var(--color-medium-grey-100);
    --color-action-icon-secondary-hover: var(--color-light-grey-400);
    --color-action-icon-secondary-bg: transparent;
    --color-action-icon-secondary-bg-hover: var(--color-medium-grey-400-65);
    --color-action-icon-secondary-border: var(--color-medium-grey-300);
    --color-action-icon-secondary-border-hover: var(--color-medium-grey-200);

    --color-callout-bg: var(--color-dark-grey-200);
    --color-callout-accent: var(--color-text-highlight);
    --color-callout-text-header: var(--color-primary-light);

    --color-warning-bg: var(--color-dark-grey-300);
    --color-warning-accent: var(--color-dark-grey-200);

    /* Dark theme: Login */
    --color-login-card-bg: var(--color-dark-grey-400);
    --color-login-card-bg-opacity: var(--color-dark-grey-400-90);

    /* Dark theme: Sidebar */
    --color-sidebar-bg: var(--color-surface-bg);
    --color-sidebar-border: var(--color-dark-grey-200);
    --color-sidebar-icon-collapse: var(--color-text-muted);
    --color-sidebar-icon-expand: var(--color-light-grey-400);
    --color-sidebar-icon-expand-bg: var(--color-card-bg);
    --color-sidebar-navlink: var(--color-sidebar-icon-expand);
    --color-sidebar-navlink-bg-hover: var(--color-bg);

    /* Dark theme: Forms and Inputs */
    --color-input-bg: var(--color-dark-grey-300);
    --color-input-border: var(--color-sidebar-border);
    --color-input-border-focus: var(--color-medium-grey-200);
    --color-input-text: var(--color-text);
    --color-input-text-placeholder: var(--color-light-grey-400);
    --color-input-text-helper: var(--color-burnt-sienna);

    /* Dark theme: Surface / Tile */
    --color-surface-bg: var(--color-dark-grey-400);
    --color-surface-border: var(--color-sidebar-border);
    --color-surface-btn-bg: var(--color-dark-grey-200);
    --color-surface-btn-bg-hover: var(--color-dark-grey-100);
    --color-surface-input-bg: var(--color-dark-grey-200);
    --color-surface-callout-bg: var(--color-brown-sienna);
    --color-surface-callout-accent: var(--color-text-highlight);
    --color-surface-callout-text-header: var(--color-primary-light);

    /* Dark theme: Card */
    --color-card-bg: var(--color-dark-grey-200);
    --color-card-bg-hover: var(--color-medium-grey-400-65);
    --color-card-bg-active: var(--color-card-bg);
    --color-card-border: var(--color-border);
    --color-card-border-active: var(--color-medium-grey-200);
    --color-card-divider: var(--color-border);

    --color-card-icon: var(--color-medium-grey-100);
    --color-card-icon-accent: var(--color-primary);
    --color-card-icon-bg: var(--color-dark-grey-100);
    --color-card-icon-bg-hover: var(--color-dark-grey-300);
    --color-card-icon-border: var(--color-medium-grey-200);

    /* Dark theme: Tab Navigation */
    --color-tab-bg: transparent;
    --color-tab-bg-hover: var(--color-dark-grey-400);
    --color-tab-bg-active: var(--color-dark-grey-200);
    --color-tab-border: var(--color-border);
    --color-tab-text: var(--color-text-muted);
    --color-tab-text-active: var(--color-white);

    /* Dark theme: Tables */
    --color-table-bg: var(--color-dark-grey-400);
    --color-table-header-bg: var(--color-dark-grey-200);
    --color-table-stripe: var(--color-surface-bg);
    --color-table-hover: var(--color-dark-grey-200);

    /* Dark theme: Chip Pairings */
    --color-chip-primary-bg: var(--color-primary);
    --color-chip-primary-text: var(--color-white);

    --color-chip-red-bg: var(--color-red-dark);
    --color-chip-red-text: var(--color-red-pastel);

    --color-chip-orange-bg: var(--color-orange-dark);
    --color-chip-orange-text: var(--color-orange-pastel);

    --color-chip-yellow-bg: var(--color-yellow-muted);
    --color-chip-yellow-text: var(--color-amber-brown);

    --color-chip-green-bg: var(--color-green-muted);
    --color-chip-green-text: var(--color-green-pastel);

    --color-chip-blue-bg: var(--color-blue-muted);
    --color-chip-blue-text: var(--color-blue-pastel);

    --color-chip-purple-bg: var(--color-purple-muted);
    --color-chip-purple-text: var(--color-purple-pastel);
  }
}

[data-theme="dark"] {
  /* Dark theme: Main */
  --color-bg: var(--color-black);
  --color-border: var(--color-medium-grey-400);
  --color-text: var(--color-light-grey-200);
  --color-text-muted: var(--color-medium-grey-200);
  --color-text-card-muted: var(--color-medium-grey-100);
  --color-accent-past: var(--color-border);

  --color-btn-primary-disabled-bg: var(--color-dark-grey-200);
  --color-btn-primary-disabled-border: var(--color-medium-grey-400);
  --color-btn-primary-disabled-text: var(--color-medium-grey-200);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-brown-sienna);
  --color-btn-secondary-border: var(--color-burnt-sienna);
  --color-btn-secondary-text: var(--color-burnt-sienna);

  --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-dark-grey-400);
  --color-btn-tertiary-border: var(--color-medium-grey-400);
  --color-btn-tertiary-border-hover: var(--color-medium-grey-300);
  --color-btn-tertiary-text: var(--color-white);

  --color-btn-disabled-bg: transparent;
  --color-btn-disabled-border: var(--color-medium-grey-400);
  --color-btn-disabled-text: var(--color-slate-dark);

  --color-action-icon-primary: var(--color-primary);
  --color-action-icon-primary-bg: transparent;
  --color-action-icon-primary-bg-hover: var(--color-brown-sienna);
  --color-action-icon-primary-border: var(--color-primary);

  --color-action-icon-secondary: var(--color-medium-grey-100);
  --color-action-icon-secondary-hover: var(--color-light-grey-400);
  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary-bg-hover: var(--color-medium-grey-400-65);
  --color-action-icon-secondary-border: var(--color-medium-grey-300);
  --color-action-icon-secondary-border-hover: var(--color-medium-grey-200);

  --color-callout-bg: var(--color-dark-grey-200);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-primary-light);

  --color-warning-bg: var(--color-dark-grey-300);
  --color-warning-accent: var(--color-dark-grey-200);

  /* Dark theme: Login */
  --color-login-card-bg: var(--color-dark-grey-400);
  --color-login-card-bg-opacity: var(--color-dark-grey-400-90);

  /* Dark theme: Sidebar */
  --color-sidebar-bg: var(--color-surface-bg);
  --color-sidebar-border: var(--color-dark-grey-200);
  --color-sidebar-icon-collapse: var(--color-text-muted);
  --color-sidebar-icon-expand: var(--color-light-grey-400);
  --color-sidebar-icon-expand-bg: var(--color-card-bg);
  --color-sidebar-navlink: var(--color-sidebar-icon-expand);
  --color-sidebar-navlink-bg-hover: var(--color-bg);

  /* Dark theme: Forms and Inputs */
  --color-input-bg: var(--color-dark-grey-300);
  --color-input-border: var(--color-sidebar-border);
  --color-input-border-focus: var(--color-medium-grey-200);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-light-grey-400);
  --color-input-text-helper: var(--color-burnt-sienna);

  /* Dark theme: Surface / Tile */
  --color-surface-bg: var(--color-dark-grey-400);
  --color-surface-border: var(--color-sidebar-border);
  --color-surface-btn-bg: var(--color-dark-grey-200);
  --color-surface-btn-bg-hover: var(--color-dark-grey-100);
  --color-surface-input-bg: var(--color-dark-grey-200);
  --color-surface-callout-bg: var(--color-brown-sienna);
  --color-surface-callout-accent: var(--color-text-highlight);
  --color-surface-callout-text-header: var(--color-primary-light);

  /* Dark theme: Card */
  --color-card-bg: var(--color-dark-grey-200);
  --color-card-bg-hover: var(--color-medium-grey-400-65);
  --color-card-bg-active: var(--color-card-bg);
  --color-card-border: var(--color-border);
  --color-card-border-active: var(--color-medium-grey-200);
  --color-card-divider: var(--color-border);

  --color-card-icon: var(--color-medium-grey-100);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-bg: var(--color-dark-grey-100);
  --color-card-icon-bg-hover: var(--color-dark-grey-300);
  --color-card-icon-border: var(--color-medium-grey-200);

  /* Dark theme: Tab Navigation */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-dark-grey-400);
  --color-tab-bg-active: var(--color-dark-grey-200);
  --color-tab-border: var(--color-border);
  --color-tab-text: var(--color-text-muted);
  --color-tab-text-active: var(--color-white);

  /* Dark theme: Tables */
  --color-table-bg: var(--color-dark-grey-400);
  --color-table-header-bg: var(--color-dark-grey-200);
  --color-table-stripe: var(--color-surface-bg);
  --color-table-hover: var(--color-dark-grey-200);

  /* Dark theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-dark);
  --color-chip-red-text: var(--color-red-pastel);

  --color-chip-orange-bg: var(--color-orange-dark);
  --color-chip-orange-text: var(--color-orange-pastel);

  --color-chip-yellow-bg: var(--color-yellow-muted);
  --color-chip-yellow-text: var(--color-amber-brown);

  --color-chip-green-bg: var(--color-green-muted);
  --color-chip-green-text: var(--color-green-pastel);

  --color-chip-blue-bg: var(--color-blue-muted);
  --color-chip-blue-text: var(--color-blue-pastel);

  --color-chip-purple-bg: var(--color-purple-muted);
  --color-chip-purple-text: var(--color-purple-pastel);
}

[data-theme="light"] {
  /* Light theme: Main */
  --color-bg: var(--color-white);
  --color-border: var(--color-light-grey-300);
  --color-border-focus: rgba(113, 125, 188, 0.5);
  --color-text: var(--color-black);
  --color-text-muted: var(--color-medium-grey-100);
  --color-text-card-muted: var(--color-medium-grey-200);
  --color-accent-past: var(--color-border);

  --color-btn-primary-disabled-bg: var(--color-light-grey-100);
  --color-btn-primary-disabled-border: var(--color-light-grey-300);
  --color-btn-primary-disabled-text: var(--color-medium-grey-100);

  --color-btn-secondary-bg: transparent;
  --color-btn-secondary-bg-hover: var(--color-pale-sienna);
  --color-btn-secondary-border: var(--color-burnt-sienna);
  --color-btn-secondary-text: var(--color-burnt-sienna);

  --color-btn-tertiary-bg: transparent;
  --color-btn-tertiary-bg-hover: var(--color-light-grey-100);
  --color-btn-tertiary-border: var(--color-light-grey-400);
  --color-btn-tertiary-border-hover: var(--color-medium-grey-100);
  --color-btn-tertiary-text: var(--color-black);

  --color-btn-disabled-bg: var(--color-light-grey-100);
  --color-btn-disabled-border: var(--color-light-grey-300);
  --color-btn-disabled-text: var(--color-slate-dark-muted);

  --color-action-icon-primary: var(--color-primary);
  --color-action-icon-primary-bg: transparent;
  --color-action-icon-primary-bg-hover: var(--color-pale-sienna);
  --color-action-icon-primary-border: var(--color-primary);

  --color-action-icon-secondary: var(--color-slate-light);
  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary-bg-hover: var(--color-slate-white);
  --color-action-icon-secondary-border: var(--color-medium-grey-100);

  --color-action-icon-secondary: var(--color-medium-grey-100);
  --color-action-icon-secondary-hover: var(--color-medium-grey-300);
  --color-action-icon-secondary-bg: transparent;
  --color-action-icon-secondary-bg-hover: var(--color-light-grey-100-95);
  --color-action-icon-secondary-border: var(--color-light-grey-300);
  --color-action-icon-secondary-border-hover: var(--color-light-grey-200);

  --color-callout-bg: var(--color-pale-sienna);
  --color-callout-accent: var(--color-text-highlight);
  --color-callout-text-header: var(--color-text-highlight);

  --color-warning-bg: var(--color-yellow-light);
  --color-warning-accent: var(--color-light-grey-300);

  /* Light theme: Login */
  --color-login-card-bg: var(--color-light-grey-100);
  --color-login-card-bg-95: var(--color-light-grey-100-95);

  /* Light theme: Sidebar */
  --color-sidebar-bg: var(--color-surface-bg);
  --color-sidebar-border: var(--color-dark-grey-200);
  --color-sidebar-icon-collapse: var(--color-text-muted);
  --color-sidebar-icon-expand: var(--color-light-grey-400);
  --color-sidebar-icon-expand-bg: var(--color-card-bg);
  --color-sidebar-navlink: var(--color-sidebar-icon-expand);
  --color-sidebar-navlink-bg-hover: var(--color-bg);

  /* Light theme: Forms and Inputs */
  --color-input-bg: var(--color-light-grey-200);
  --color-input-border: var(--color-sidebar-border);
  --color-input-border-focus: var(--color-medium-grey-200);
  --color-input-text: var(--color-text);
  --color-input-text-placeholder: var(--color-medium-grey-100);
  --color-input-text-helper: var(--color-burnt-sienna);

  /* Light theme: Surface / Tile */
  --color-surface-bg: var(--color-light-grey-100);
  --color-surface-border: var(--color-border);
  --color-surface-input-bg: var(--color-white);
  --color-surface-callout-bg: var(--color-light-grey-300);
  --color-surface-callout-accent: var(--color-text-highlight);
  --color-surface-callout-text-header: var(--color-text-highlight);

  /* Light theme: Card */
  --color-card-bg: var(--color-white);
  --color-card-bg-hover: var(--color-surface-bg);
  --color-card-bg-active: var(--color-card-bg);
  --color-card-border: var(--color-border);
  --color-card-border-active: var(--color-medium-grey-100);
  --color-card-divider: var(--color-border);

  --color-card-icon: var(--color-medium-grey-100);
  --color-card-icon-accent: var(--color-primary);
  --color-card-icon-bg: var(--color-light-grey-100);
  --color-card-icon-bg-hover: var(--color-card-icon-border);
  --color-card-icon-border: var(--color-light-grey-400);

  /* Light theme: Tab Navigation */
  --color-tab-bg: transparent;
  --color-tab-bg-hover: var(--color-light-grey-100);
  --color-tab-bg-active: var(--color-pale-sienna);
  --color-tab-border: var(--color-border);
  --color-tab-text: var(--color-slate-dark);
  --color-tab-text-active: var(--color-black);

  /* Light theme: Tables */
  --color-table-bg: var(--color-white);
  --color-table-header-bg: var(--color-light-grey-200);
  --color-table-stripe: var(--color-light-grey-100);
  --color-table-hover: var(--color-pale-sienna);

  /* Light theme: Chip Pairings */
  --color-chip-primary-bg: var(--color-primary);
  --color-chip-primary-text: var(--color-white);

  --color-chip-red-bg: var(--color-red-pastel);
  --color-chip-red-text: var(--color-red-muted);

  --color-chip-orange-bg: var(--color-orange-pastel);
  --color-chip-orange-text: var(--color-orange-dark);

  --color-chip-yellow-bg: var(--color-yellow-pastel);
  --color-chip-yellow-text: var(--color-yellow-dark);

  --color-chip-green-bg: var(--color-green-pastel);
  --color-chip-green-text: var(--color-green-dark);

  --color-chip-blue-bg: var(--color-blue-pastel);
  --color-chip-blue-text: var(--color-blue-dark);

  --color-chip-purple-bg: var(--color-purple-pastel);
  --color-chip-purple-text: var(--color-purple-dark);
}
